#nav-bar {
    background-color: #dddddd;
    position: fixed;
    z-index: 1;
    /* margin-right: 775px; */
    margin-right: 1375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-button {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
    color: darkgray;
}

.nav-button:hover {
    color: limegreen;
    cursor: pointer;
}

.nav-button-disabled {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
    color: ghostwhite;
}

span.size-48 {
    font-size: 48px;
    /*font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48*/
}

/* @media screen and (max-width: 825px) {
    #nav-bar {
        flex-direction: row;
        width: 720px;
        margin-right: 0px;
    }
} */

@media screen and (max-width: 1450px) {
    #nav-bar {
        flex-direction: row;
        margin-left: 0px;
        width: 1320px;
    }
}