#keyword-form {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

#keyword-form > label {
    font-size: 15px;
    width: 98%;
}

#keyword-form > input {
    width: 75%;
}