#add-route-button {
    /* width: 98%; */
    background-color: orange;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

#add-route-button:hover {
    cursor: pointer;
    background-color: limegreen;
    color: ghostwhite;
}

#keyword-form {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

#keyword-form > label {
    font-size: 15px;
    width: 98%;

}

#keyword-form > input {
    width: 75%;
}