.search-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

#search-form {
    display: flex;
    gap: 5px;
}

#search-bar {
    width: 700px;
}

#search-results > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search-results > ul > li {
    padding: 0 3px 0 3px;
    /* color: #888888; */
    margin: 3px;
}

#search-results > ul > li:hover {
    color: hotpink;
    cursor: pointer;
}