body {
    margin: 0;
    background-color: #eeeeee; /* gainsboro == 6d */
    font-family: monospace;
    color: #333333;
}

.visible {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hidden {
    display: none;
}

header {
    font-size: 15px;
}

.crumb-nav:hover {
    color: hotpink;
    cursor: pointer;
}

.crumb-leaf {
    color: limegreen;
}

.icon-button {
    background-color: lightgray;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: limegreen;
    cursor: pointer;
}

.text-button {
    padding: 3px;
    background-color: gainsboro;
    color: white;
    border-radius: 4px;
}

/* .text-button:hover {
    background-color: limegreen;
    cursor: pointer;
} */

.text-button.green:hover {
    background-color: limegreen;
    cursor: pointer;
}

.text-button.red:hover{
    background-color: red;
    cursor: pointer;
}

.form, form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    padding-right: 5px;
}

form textarea, input {
    /*outline: none;*/
    padding: 5px;
    background: whitesmoke;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

form textarea {
    resize: none;
    height: 100px;
}

.form-buttons {
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.form-buttons button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
 }

button.green {
    background-color: green;
}

button.red {
    background-color: tomato;
}

.form-errors {
    padding: 0;
    list-style: none;
    color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-buttons {
    display: flex;
    gap: 5px;
    /*cursor: pointer;*/
}

.header-buttons span.green:hover {
    color: limegreen;
    cursor: pointer;
}

.header-buttons span.red:hover {
    color: red;
    cursor: pointer;
}

span.size-24 {
    font-size: 24px;
    /*font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48*/
}

.light {
    color: #aaaaaa;
}