#header-container {
    position: sticky;
    top:0;
}

header {
    background-color: steelblue;
    padding: 10px;
    color: #eeeeee;
 }

#header-logo {
    font-size: 40px;
    font-family: 'Gamja Flower', cursive;
}

#main-container {
    display: grid;
    column-gap: 10px;
    padding-top: 5px;
    max-width: 95%;
    margin: auto;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px; /*250px calc(100vh - 330px);*/
    grid-template-areas:
        "calendar route"
        "routeList route";
}

#calendar {
    grid-area: calendar;
    overflow-x: auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#route {
    grid-area: route;
    overflow-y: auto;
}

#route-list {
    grid-area: routeList;
    overflow-y: auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#route-form {
    grid-area: routeForm;
    overflow-y: auto;
}

.grid-item {
    background-color: #eeeeee;
    padding: 5px;
}

.form-buttons {
    display: flex;
    gap: 5px;
    padding-top: 15px;
    justify-content: space-between;
}

.route-form {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.route-form > label {
    font-size: 15px;
}

.route-form > textarea {
    resize: none;
    overflow: auto;
}

.route-form-hidden {
    display: none;
}

.form-errors {
    padding: 0;
    list-style: none;
    color: red;
}