#routes-climbed table {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    /* border-collapse: collapse; */
}

#routes-climbed td {
    padding: 10px;
}

#routes-climbed td:not(.route-notes) {
    vertical-align: top;
    background-color: aliceblue;
}

.route-buttons span.red:hover {
    background-color: red;
}

#edit-sort-routes td {
    padding: 3px 10px 3px 10px;
}

.sort-button:hover {
    color: limegreen;
    cursor: pointer;
}

.sort-button {
    display: flex;
    align-items: flex-end;
}

.route-data {
    border-top: solid white;
}

.route-notes {
    background-color: #f8fcff;
}