#routes-climbed table:not(.unstyled) {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

#routes-climbed td:not(.unstyled) {
    /* padding: 3px 10px 3px 10px; */
    padding: 10px;
}

#routes-climbed td {
    vertical-align: top;
    background-color: aliceblue;
}

.light {
    color: #aaaaaa;
}

.route-buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.route-buttons span.green:hover {
    color: limegreen;
}

.route-buttons span.red:hover {
    color: red;
}