#app {
    display: flex;
    justify-content: center;
}

#main {
    background-color: white;
    /* width: 700px; */
    width: 1300px;
    padding: 10px 10px 10px 10px;
    /* overflow-x: auto; */
}

/* @media screen and (max-width: 825px) {
    #app {
        flex-direction: column;
        justify-content: flex-start;
    }
    #main {
        margin-top:54px;
    }
}

@media screen and (max-width: 700px) {
    #main {
        width: auto;
    }
} */

@media screen and (max-width: 1450px) {
    #app {
        flex-direction: column;
        justify-content: flex-start;
    }
    #main {
        margin-top:54px; /* 48px nav button + 3*2 padding */
        overflow-x: auto;
    }
}